<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortener Application</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1 class="display-4">URL SHORTENER APP</h1>
      <p class="lead">
        Enter any Long URL and get a shorter URL Back . Give it a shot !
      </p>
      <cite>Developed By Pathikrit Chanda </cite>
    </div>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 justify-content-center align-items-center">
          <% if(typeof errors != 'undefined'){ %> <% errors.forEach((err)=>{ %>
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
          >
            <%= err.error %>
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% }) %> <% } %><% if(typeof msgs != 'undefined'){ %> <%
          msgs.forEach((msg)=>{ %>
            <div class="alert alert-success fade show mb-3">
              <b>Here is your Short Link:</b> </br>
              <a href="<%= msg.longUrl %>" target="_blank" style="color: #155724;"><%= msg.shortUrl %></a>
            </div>
          <p>Hope you liked my app .<3</p>
          <% }) %> <% } %>
          <form method="POST" action="/">
            <div class="form-group">
              <label for="exampleInputEmail1">Enter URL Here : </label>
              <input type="text" class="form-control" name="url" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
