<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener Application </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron" >
        <h1 class="display-4" style="margin-left: 30%;">URL SHORTENER APP</h1>
        <p class="lead" style="margin-left: 30%;">Enter any Long Url and get a shorter Url Back . Give it a shot !</p>
        <cite style="margin-left: 30%;">Developed By Pathikrit Chanda </cite>
    </div>
    <div   style="width:30%; margin-left:30%;">
        <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach((err)=>{ %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= err.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              <% }) %>
            <% } %> 

        <% if(typeof msgs != 'undefined'){ %>
                <% msgs.forEach((msg)=>{ %>
                  <p>Here is your Short Link <a href="<%= msg.longUrl %>" ><%=msg.shortUrl %></a> . </p>
                  <p>Hope you liked my app .<3</p>
                  <% }) %>
                <% } %>  
        <form method="POST" action="/" >
            <div class="form-group">
              <label for="exampleInputEmail1">Enter Url Here : </label>
              <input type="text" class="form-control" name="url" style="width:400px;">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
   
</body>
</html>